body {
  margin: 0;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div1 {
  background-color: #374836;

  height: 60px;

  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

  .d1-container1 {
    /* background-color: #10408d; */
    
    position: absolute;    
    top: 50%;
    left: 10px;
    transform: translateY(-50%); 
    display: flex;
    align-items: center;
    gap: 8px;
  }
    .d1-img {
      /* background-color: #8d5710; */
      
      width: 50px;
      height: auto;
      flex-shrink: 0;
    }

    .d1-name {
      /* background-color: #108d72; */

      font-size: 35px;
      color: #fbfcf4;
      margin: 0;
      font-weight: 900;
    }