body {
  margin: 0;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background-color: #374836;

  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

  .header-inner {
    /* background-color: #10408d; */
    
    position: absolute;    
    top: 50%;
    left: 10px;
    transform: translateY(-50%); 
    display: flex;
    align-items: center;
    gap: 8px;
  }
    .header-logo {
      /* background-color: #8d5710; */
      
      width: 50px;
      height: auto;
      flex-shrink: 0;
    }

    .header-title {
      /* background-color: #108d72; */

      font-size: 35px;
      color: #fbfcf4;
      margin: 0;
      font-weight: 900;
    }


.projects {
  background-color: rgb(214, 140, 43);
}
.project-image {
  width: 500px
}

.tech-item {
  width: 100px;
  padding: 10px;
  margin: 10px;
  background-color: #61352f;
}

.contact-profile {
  width: 200px;
  background-color: #61352f;
}